<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="productID" #productID="ngModel" [(ngModel)]="productService.formData.productID">
  <div class="form-group">
    <label>Product Name</label>
    <input name="name" #name="ngModel" [(ngModel)]="productService.formData.name" class="form-control" required>
    <div class="validation-error" *ngIf="name.invalid && name.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <label>Units In Stock</label>
    <input name="unitsInStock" #unitsInStock="ngModel" [(ngModel)]="productService.formData.unitsInStock" class="form-control" required>
    <div class="validation-error" *ngIf="unitsInStock.invalid && unitsInStock.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <label>Unit Price</label>
    <input name="unitprice" #unitprice="ngModel" [(ngModel)]="productService.formData.unitprice" class="form-control" required>
    <div class="validation-error" *ngIf="unitprice.invalid && unitprice.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>
